<div class="container">
    <section class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
        <h2 class="w-100 mb-4">{{ 'About the Project'|trans }}</h2>
        <p>{{ 'This project aims to create a modern and user-friendly PDF editor. Users will be able to add and edit text, insert images, draw shapes, sign documents, and save changes directly to PDF files in their browser.'|trans }}</p>
        {#        <img src="images/pdf-editor-overview.png" alt="PDF Editor Interface Overview"> #}
    </section>
</div>
