{%- for group_name, group in groups.items() %}
    {%- set entity_namespace = group.output.entity_namespace if group.output else 'App\\Entity' %}
    {%- for field_name, field in group.entities.items() %}
        {%- if not field.disable_admin %}
use {{ entity_namespace }}\{{ field_name }};
        {%- endif %}
    {%- endfor %}
{%- endfor %}
