<?php

namespace App\Form\Type;

use App\Entity\{{ name }};
use Symfony\Component\Form\AbstractType;
use Symfony\Bridge\Doctrine\Form\Type\EntityType;
use Symfony\Component\Form\Extension\Core\Type\TextType;
use Symfony\Component\Form\Extension\Core\Type\TextareaType;
use Symfony\Component\Form\Extension\Core\Type\IntegerType;
use Symfony\Component\Form\Extension\Core\Type\ChoiceType;
use Symfony\Component\Form\Extension\Core\Type\CollectionType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\OptionsResolver\OptionsResolver;
{%- for field in fields %}
{%- if field.type == 'relation' and field.objectRelation != 'self'  %}
use App\Form\Type\{{ field.objectRelation }}Type;
{%- endif %}
{%- if field.type == 'relation' and (field.typeInput == 'addNew' or field.typeInput == 'addNew1')  %}
use App\Entity\{{ field.objectRelation }};
{%- endif %}
{%- endfor %}
class {{ name }}Type extends AbstractType
{
    public function buildForm(FormBuilderInterface $builder, array $options): void
    {
        $builder
        {%- for field in fields %}
            {%- if field.type=='string' and not field.id %}
            ->add('{{field.name}}', TextType::class)
            {%- endif %}
            {%- if field.type=='text' and not field.id %}
            ->add('{{field.name}}', TextareaType::class)
            {%- endif %}
            {%- if field.type=='integer' and not field.id %}
            ->add('{{field.name}}', IntegerType::class)
            {%- endif %}
            {%- if field.type=='select' and field.typeInput=='yesno' %}
            ->add('{{field.name}}', ChoiceType::class,[
                'choices' => [
                    'Yes' => 'Yes',
                    'No' => 'No'
                ]
            ])
            {%- endif %}

            {%- if field.type == 'relation' and field.typeInput=='collection'  %}
            ->add('{{field.name}}', CollectionType::class, [
                'entry_type' => {{field.objectRelation}}Type::class,
                'entry_options' => [
                    'label' => false,
                ],
                'allow_add' => true,
                'allow_delete' => true,
                'by_reference' => false,
                'prototype' => true,
            ])
            {%- endif %}
            {%- if field.type == 'relation' and field.typeInput=='addNew1'  %}
                 ->add('{{field.name}}', EntityType::class, [
                     'class' => {{ field.objectRelation }}::class,
                     'choice_label' => 'name',
                     'placeholder' => 'Select {{ field.name|lower }}',
                     'required' => true,
                     'attr' => [
                         'data-entity' => '{{ field.objectRelation }}',
                     ],

                 ])
            {%- endif %}
                {%- if field.type == 'relation' and field.typeInput == 'addNew' %}
                {%- set parts = field.formSetting.split('|') %}
                 ->add('{{field.name}}', CustomAddselectType::class, [
                     'class' => {{ field.objectRelation }}::class,
                     'choice_label' => 'name',
                     'placeholder' => 'Select {{ field.name|lower }}',
                     'required' => true,
                     'attr' => [
                         'data-entity' => '{{ field.objectRelation }}',
                         'search-field'=>'{{parts[0]}}',
                         'require-fields'=>'{{parts[1]}}',
                     ],

                 ])
            {%- endif %}
        {%- endfor %}
         ;
    }

    public function configureOptions(OptionsResolver $resolver): void
    {
        $resolver->setDefaults([
            'data_class' => {{ name }}::class,
            'csrf_protection' => true,
            'csrf_field_name' => '_token',
            'csrf_token_id'   => '{{ name | lower }}_form',
        ]);
    }
}
