#!/usr/bin/env bash
#because User is base entity
php bin/console app:import:csv User scalar
{%- for group_name, group in groups.items() %}
{%- for field_name, field in group.entities.items() %}
php bin/console app:import:csv {{ field_name }} scalar
{%- endfor %}
{%- endfor %}
{%- for group_name, group in groups.items() %}
{%- for field_name, field in group.entities.items() %}
php bin/console app:import:csv {{ field_name }} association
{%- endfor %}
{%- endfor %}

