<?php
namespace App\Repository;
use App\Entity\{{ name }};
use Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository;
use Doctrine\Persistence\ManagerRegistry;

/**
 * @extends ServiceEntityRepository<{{ name }}>
*/
class {{ name }}Repository extends ServiceEntityRepository
{
    public function __construct(ManagerRegistry $registry)
    {
        parent::__construct($registry, {{ name }}::class);
    }
   {%- if related=='single' %}

    public function findOneBySiteAndLocale($site, $locale)
    {
    return $this->createQueryBuilder('s')
        ->innerJoin('s.site', 'site')
        ->innerJoin('s.translations', 't')
        ->addSelect('t')
        ->where('site = :site')
        ->andWhere('t.locale = :locale')
        ->setParameter('site', $site)
        ->setParameter('locale', $locale)
        ->setMaxResults(1)
        ->getQuery()
        ->getOneOrNullResult();
    }
   {%- endif %}
   {%- if related=='list' %}
       public function findOneByUrlKey($urlKey, $site, $locale): ?{{ name }}
       {
           $query = $this->createQueryBuilder('s')
                ->innerJoin('s.{{ name |lower }}translations', 't')
                ->addSelect('t')
                ->where('s.site = :site')
                ->andWhere('t.locale = :locale')
                ->andWhere('t.slug = :slug')
                ->andWhere('t.is_active = :is_active')
                ->setParameter('site', $site)
                ->setParameter('locale', $locale)
                ->setParameter('slug', $urlKey)
                ->setParameter('is_active', 'Yes')
                ->orderBy('s.id', 'ASC')
                ->setMaxResults(1)
                ->getQuery();
           return $query->getOneOrNullResult();
       }
       {%- if category_field %}
       public function findByCategoryId($categoryId, $site, $locale): array
       {
            $query = $this->createQueryBuilder('s')
                ->innerJoin('s.{{ name |lower }}translations', 't')
                ->addSelect('t')
                ->where('s.site = :site')
                ->andWhere('t.locale = :locale')
                ->innerJoin('s.{{ category_field }}', 'c')
                ->andWhere('c.id = :recipeCategoryId')
                ->andWhere('t.is_active = :is_active')
                ->setParameter('site', $site)
                ->setParameter('locale', $locale)
                ->setParameter('recipeCategoryId', $categoryId)
                ->setParameter('is_active', 'Yes')
                ->orderBy('s.position', 'ASC')
                ->setMaxResults(10)
                ->getQuery();
            return $query->getResult();
       }
       public function findByAuthorId($authorId, $site, $locale): array
              {
                   $query = $this->createQueryBuilder('s')
                       ->innerJoin('s.{{ name |lower }}translations', 't')
                       ->addSelect('t')
                       ->where('s.site = :site')
                       ->andWhere('t.locale = :locale')
                       ->innerJoin('s.{{ author_field }}', 'c')
                       ->andWhere('c.id = :authorId')
                       ->andWhere('t.is_active = :is_active')
                       ->setParameter('site', $site)
                       ->setParameter('locale', $locale)
                       ->setParameter('authorId', $authorId)
                       ->setParameter('is_active', 'Yes')
                       ->orderBy('s.position', 'ASC')
                       ->setMaxResults(10)
                       ->getQuery();
                   return $query->getResult();
              }
       {%- endif %}

   {%- endif %}
   {%- if  related=='catalog' %}
    public function findOneByUrlKey($urlKey): ?{{ name }}
    {
        return $this->createQueryBuilder('t')
            ->andWhere('t.{{ slug }} = :slug')
            ->setParameter('{{ slug }}', $urlKey)
            ->orderBy('t.id', 'ASC')
            ->setMaxResults(1)
            ->getQuery()
            ->getOneOrNullResult();
    }
   {%- endif %}

   {%- if related=='catalog' %}
    public function findDefaultItem(): ?{{ name }}
    {
        return $this->createQueryBuilder('t')
            ->andWhere('t.{{ default }} IS NULL')
            ->getQuery()
            ->getOneOrNullResult();
    }
   {%- endif %}
   {%- if related=='multiple' %}
          public function findBySiteAndLocale($site, $locale)
             {
                 $query = $this->createQueryBuilder('s')
                     ->innerJoin('s.site', 'site')
                     ->innerJoin('s.translations', 't')
                     ->addSelect('t')
                     ->where('site = :site')
                     ->andWhere('t.locale = :locale')
                     ->andWhere('t.status = :status')
                     ->setParameter('site', $site)
                     ->setParameter('locale', $locale)
                     ->setParameter('status', 'Yes')
                     ->addOrderBy('CASE WHEN t.position IS NULL THEN 1 ELSE 0 END', 'ASC')
                     ->addOrderBy('t.position', 'ASC')
                     ->setMaxResults(10)
                     ->getQuery();

                 return $query->getResult();
             }
   {%- endif %}
}
    //    /**
    //     * @return {{ name }}[] Returns an array of {{ name }} objects
    //     */
    //    public function findByExampleField($value): array
    //    {
    //        return $this->createQueryBuilder('t')
    //            ->andWhere('t.exampleField = :val')
    //            ->setParameter('val', $value)
    //            ->orderBy('t.id', 'ASC')
    //            ->setMaxResults(10)
    //            ->getQuery()
    //            ->getResult()
    //        ;
    //    }
    //    public function findOneBySomeField($value): ?{{ name }}
    //    {
    //        return $this->createQueryBuilder('t')
    //            ->andWhere('t.exampleField = :val')
    //            ->setParameter('val', $value)
    //            ->getQuery()
    //            ->getOneOrNullResult()
    //        ;
    //    }
