:root {
    --primary-background-color: #43b02a;
    --second-button-color: rgba(67, 176, 42, 0.1);
    --primary-button-color: #3b9c25;
    --primary-button-border-radius: 5px;
    --popup-button-border-radius: 10px;
    --primary-text-color: #101010;

}


/* Reset some default styles */
body, h1, h2, p, ul, ol, li, a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*html {*/
/*    scrollbar-gutter: stable;*/
/*}*/

/* Base styles */
body {
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body .container__header {
    background-color: var(--primary-background-color);
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 10;
}

.lh-50 {
    line-height: 50px;
}

.minh-50 {
    min-height: 50px;
}

.green {
    color: var(--primary-button-color) !important;
}

.bg-green {
    background-color: var(--primary-background-color) !important;
}

.fs-desktop-4 {
    font-size: calc(1.275rem + .3vw) !important;
}

a {
    color: var(--primary-button-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-button-color);;
    text-decoration: none;
}

.min-w-300 {
    min-width: 30rem;
}

/* Header styles */
.container__header header {
    background-color: var(--primary-background-color);
    padding: 10px 0;
}

.container__header .dropdown-toggle.show {
    background-color: var(--primary-button-color);
}

.container__header .list-group-item {
    border: none;
}

.container__header .list-group-item.active {
    background-color: var(--second-button-color);
    border-color: var(--second-button-color);
    border-radius: var(--primary-button-border-radius);
}

.container__header .nav-link.active,
.container__header .show > .nav-link {
    background-color: var(--primary-button-color);
}

.container__header .dropdown-item.active,
.container__header .dropdown-item:active {
    background-color: var(--primary-button-color);
    border-color: var(--primary-button-color);
    border-radius: var(--primary-button-border-radius);
}

.container__header .navbar .nav-item .nav-link {
    border-radius: var(--primary-button-border-radius);
}

/* Form styles */
.form-control:focus {
    border-color: #c6d4c2;
    box-shadow: 0 0 0 .25rem rgb(67, 176, 42, 20%);
}

.btn-primary {
    background-color: var(--primary-background-color);
    border-color: var(--primary-background-color);
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: color-mix(in srgb, var(--primary-background-color) 90%, black);
    border-color: color-mix(in srgb, var(--primary-background-color) 90%, black);
    box-shadow: none;
}

.children-category a:hover, .children-category a:focus {
    background-color: var(--second-button-color);
    border-radius: var(--primary-button-border-radius);
}

.dropdown-popup {
    position: relative;
}

@media (min-width: 768px) and (max-width: 995px) {
    .container__header .container {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .body-lock {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }

    .container__header .navbar .nav-item .nav-link {
        border-radius: 0;
    }

    .dropdown-popup {
        background-color: white;
        height: calc(100vh - 64px);
        overflow-y: auto;
        padding: 0;
        position: fixed;
        right: 0;
        top: 64px;
        width: 100%;
        z-index: 1;
    }

    .dropdown-popup-scroll {
        flex: 1 1 auto;
        overflow-y: auto;
    }

    .dropdown-popup .nav-item {
        border-bottom: 1px solid #f2f2f2;
    }

    .dropdown-popup .text-white {
        color: var(--primary-text-color) !important;
    }

    .border-bottom-m-light {
        border-bottom: 1px solid #f2f2f2;
    }

    .lh-m-50 {
        line-height: 50px;
    }

    .p-m-0 {
        padding: 0;
    }

    .min-w-300 {
        min-width: 100%;
    }

    .fs-desktop-4 {
        font-size: 1rem !important;
    }
}

@media (max-width: 360px) {
    .fs-desktop-4 {
        font-size: 0.8rem !important;
    }
}

/* Footer styles */
footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    bottom: 0;
    color: #555;
    font-size: 14px;
    height: 90px;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

body {
    background-color: #f8f9fa;
}

.filter-sidebar {
    background: white;
    border-radius: 12px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.product-card-list .product-image {
    border-radius: 0;
}

.product-card {
    background: white;
    border-radius: 12px;
    height: 100%;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.product-image {
    border-radius: 12px 12px 0 0;
    height: 200px;
    object-fit: cover;

}

.price {
    color: #2563eb;
    font-weight: 600;
}

.discount-badge {
    background: #dc2626;
    border-radius: 6px;
    color: white;
    font-size: 0.875rem;
    padding: 4px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.favorite-btn {
    align-items: center;
    background: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    left: 10px;
    position: absolute;
    top: 10px;
    transition: all 0.2s;
    width: 32px;
}

.favorite-btn i {
    margin-top: 3px;
}

.favorite-btn:hover {
    background: #fee2e2;
    color: #dc2626;
}

.favorite-btn.selected {
    background: #dc2626;
    color: #fee2e2;
}

.rating-stars {
    color: #fbbf24;
}

.recipe-name {
    font-size: 1.2rem;
    font-weight: 600;
}

.recipe-info span {
    font-size: 0.8rem;
}

.recipe-info.full span {
    font-size: 1.0rem;
    font-weight: 600;
}

.category-badge {
    background: #e5e7eb;
    border-radius: 6px;
    color: #4b5563;
    font-size: 0.75rem;
    padding: 4px 8px;
}

.badge-remove {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    padding: 0;
}

.badge-remove:hover {
    color: red;
}

.filter-group {
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.color-option {
    border-radius: 50%;
    cursor: pointer;
    height: 24px;
    position: relative;
    width: 24px;
}

.color-option.selected::after {
    content: '';
    border: 2px solid #2563eb;
    border-radius: 50%;
    inset: -3px;
    position: absolute;
}

.sort-btn {
    background: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all 0.2s;
}

.sort-btn:hover {
    background: #f3f4f6;
}

.cart-btn {
    background: #2563eb;
    border: none;
    color: white;
    transition: all 0.2s;
}

.cart-btn:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

/*SEARCH BLOCK*/
.search-box {
    max-width: 700px;
}

.search-box .form-control {
    box-shadow: none;
}

.search-box .btn {
    background-color: var(--primary-button-color);
    border-radius: 0 12px 12px 0;
    font-weight: 500;
}

.search-box input {
    border: none;
    margin-right: 10px;
    min-width: 270px;
}

.search-box .input-group {
    font-size: 18px;
}

.search-box i {
    padding-left: 20px;
}

.search-box .input-search-text {
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 12px 0 0 12px;
    display: flex;
}

/** Popular Search terms **/
.keyword-card {
    border-radius: 12px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.width-search {
    margin: 0 auto;
    max-width: 1152px;
}

.keyword-card img {
    height: 160px;
    object-fit: cover;
    transition: transform 0.3s ease;
    width: 100%;
}

.keyword-title {

    bottom: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    left: 15px;
    position: absolute;
    z-index: 2;
}

.keyword-card:hover img {
    transform: scale(1.05);
}

.keyword-card:hover {
    transform: translateY(-4px);
}

/* GRID COLUMN */
.column-left {
    background-color: white;
    border-radius: 15px;
    bottom: 100px;
    margin-left: 10px;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    position: fixed;
    scrollbar-width: thin;
    top: 100px;
    width: 300px;
}

.column-right {
    background: white;
    border-radius: 15px;
    bottom: 100px;
    box-sizing: border-box;
    left: 330px;
    position: fixed;
    padding: 25px 20px;
    right: 10px;
    top: 100px;
    overflow: hidden;
    width: calc(100% - 340px);
}

.column-right .content {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 991px) {
    .column-left {
        display: none;
    }

    .column-right {
        left: 10px;
        width: calc(100% - 20px);
    }
}

@media (max-width: 575px) {
    .search-box {
        flex-direction: row;
        gap: 5px;
        justify-content: center;
    }

    .search-box .input-search-text {
        border-radius: 12px !important;
    }

    .search-box .btn {
        border-radius: 12px !important;
    }
}

/*PROFILE*/

.profile-image {
    border-radius: 50%;
    border: 1px solid grey;
    height: 150px;
    object-fit: cover;
    width: 150px;
}


.profile-image.small {
    height: 40px;
    width: 40px;
}

.setting-page {
    align-items: normal;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
    z-index: 9999;
}

.overlay.active {
    display: block;
}

.popup {
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
    min-width: 500px;
    max-width: 500px;
    padding: 20px;
    position: absolute;
    top: calc(50% - 250px) !important;
    left: calc(50% - 250px) !important;
}

.close-btn {
    border: none;
    background: inherit;
    position: absolute;
    right: 10px;
    top: 10px;
    user-select: none;
}

.save-popup {
    bottom: 10px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 10px;
    user-select: none;
}

.save-popup:focus, .save-popup:focus:active {
    box-shadow: none;
}

.popup .profile-image {
    border: 1px solid grey;
    height: 300px;
    width: 300px;
}

.popup .cropper-view-box,
.popup .cropper-face {
    border-radius: 50%;
}

.popup.recipe .cropper-view-box,
.popup.recipe .cropper-face {
    border-radius: 0;
}

.popup.recipe .profile-image {
    border-radius: 0;
}

/*ADD RECIPE FORM*/
.image-upload {
    aspect-ratio: 120 / 170;
}

.w-16 {
    width: 4rem;
}

.w-50 {
    width: 50% !important;
}

.pointer-events-none {
    pointer-events: none;
}

.text-recipe-gray-600 {
    color: #767676;
    opacity: 1;
}

.bg-recipe-gray-200 {
    background-color: #f8f6f2;
    opacity: 1;
}

.text-recipe-body-16 {
    font-size: 1rem;
    letter-spacing: -.025em;
    line-height: 1.5rem;
}

.text-recipe-12 {
    font-size: .75rem;
    letter-spacing: -.0167em;
    line-height: 1rem;
}

.image-upload input {
    cursor: pointer;
    height: 100%;
    inset: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}

/*TEXT AREA ADD RECIPE FORM*/
.h-4 {
    height: 1rem;
}

.pt-70 {
    padding-top: 70px;
}

.pt-55 {
    padding-top: 55px;
}

.mt-55 {
    margin-top: 55px;
}

textarea.field-edit {
    border: none;
    background-color: #f8f6f2;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    color: #6b6060;
    display: block;
    overflow: hidden;
    overflow-wrap: break-word;
    opacity: 1;
    position: absolute;
    resize: none;
    transition: height 0.1s ease;
    width: 100%;
}

textarea.field-edit::placeholder {
    box-shadow: none !important;
    color: #0f0f0f;
    opacity: 0.3;
}

textarea.field-edit:not(:placeholder-shown) {
    border: 1px solid #3b9c25 !important;
    box-shadow: none !important;
    outline: none !important;
}

textarea.field-edit:not(:placeholder-shown) {
    border: 1px solid #3b9c25 !important;
    box-shadow: none !important;
    outline: none !important;
}

textarea.field-edit:is(:focus, :focus-visible, :active) {
    border: 1px solid #3b9c25 !important;
    box-shadow: none !important;
    outline: none !important;
}

textarea.field-edit.has-warning:is(:focus, :focus-visible, :active),
textarea.field-edit.has-warning {
    border: 1px solid #ff0000 !important;
}

textarea.field-edit.text-lg {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -.025em;
    line-height: 36px;
    min-height: 52px;
    padding: 8px 12px;
}

textarea.field-edit.text-sm {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -.025em;
    line-height: 20px;
    padding: 4px 12px;
    min-height: 28px;
}

.count-warning {
    background-color: #fff3cd;
    border-radius: 1px;
    color: #664d03;
    height: max-content;
    padding: 5px 10px;
}

.row {
    overflow: visible;
}

body {
    background: #f5f5f5;
}

/*RECIPE EDIT PAGE*/
.recipe-image {
    width: 80%;
    height: auto;
}

.recipe-edit-page {
    padding: 20px;
}

.container-recipe-step-item,
.container-recipe-component-item {
    position: relative;
}

.container-recipe-component-item {
    border: 1px solid #ced4da;
    border-radius: 10px;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 0 5px;
}

.container-recipe-component-item .quantity {
    width: 80px;
}

.add-step, .add-component {
    border-width: 1px;
    border-radius: 5px;
    background-color: lightgrey;
    margin-left: 40px;
}

.add-group-component {
    margin-left: 25px;
    border-radius: 5px;
    border-width: 1px;
}

.remove-step, .remove-component {
    border-width: 1px;
    border-color: lightgray;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1000;
}

.remove-component {
    font-size: 10px;
    padding: 0 4px;
}

.recipesteps,
.recipecomponents {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px 20px 40px;
    position: relative;
}

.recipecomponents {
    row-gap: 10px;
}

.recipecomponents {
    padding: 10px 10px 10px 20px;
}

.recipe-step-item,
.recipe-component-item {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    position: relative;
}

.recipegroupcomponents button:not(:disabled).drag-handle {
    left: -29px;
}

.recipegroupcomponents .recipe-component-item {
    border: none;
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    padding: 0;
}

button:not(:disabled).drag-handle {
    border-width: 1px;
    border-color: lightgray;
    cursor: grab;
    position: absolute;
    font-size: 12px;
    left: -30px;
    margin-right: 10px;
    top: 0;
    z-index: 1000;
}

.recipe-edit-page label {
    font-size: 12px;
}

.recipegroupcomponents {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
}

.container-recipe-group-component-item {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    position: relative;
}


.recipe-group-component-item div:nth-of-type(3) label {
    display: none;
}

/* Frontend recipe page*/
.steps-grid .list-group-item {
    border: none;
}

.ingredients-grid .list-group-item {
    border-width: 0 0 1px 0;
    border-style: dashed;
    padding: 0;
}
.facebook-menu span{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.facebook-menu span.active{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: lightgray;
}
.recipe-facebook-page .block{
    visibility: hidden;
    height: 0;
}
.recipe-facebook-page .block.active{
    visibility: visible;
    height: auto;
}
textarea.field-text-post{
    display: block;
}
@media screen and (max-width: 768px) {
    .recipe-edit-page {
        padding: 5px;
    }

    .recipecomponents {
        padding-right: 0;
    }

    .container__header header {
        margin-top: 12px;
    }

    .container-recipe-component-item .quantity {
        width: 64px;
    }
    .container-recipe-component-item select.ingredient {
        text-wrap: wrap;
    }

    .popup {
        min-width: 360px !important;
        max-width: 360px !important;
        top: calc(50% - 180px) !important;
        left: calc(50% - 180px) !important;
    }

    .popup .profile-image {
        width: 250px;
        height: 250px;
    }
}
