<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Free Online PDF Tools | Merge, Split, Compress & Edit PDFs{% endblock %}</title>
        <meta name="description" content="Quick and secure online PDF tools. Merge, split, compress, edit, and convert PDFs with ease. 100% free and private. No registration required." />
        <meta name="keywords" content="PDF tools, merge PDFs, split PDF, compress PDF, edit PDF online, convert PDF, secure PDF service" />
        <meta name="author" content="Ihor Tson" />
        <meta property="og:title" content="Online PDF Tool - Merge, Split, Edit & Compress" />
        <meta property="og:description" content="Free and fast online tools to work with PDF files securely. No software installation needed." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://service.kwadro.com.ua/" />
        <meta property="og:image" content="https://service.kwadro.com.ua//og-image.jpg" />
        <link rel="canonical" href="https://service.kwadro.com.ua/" />
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        {% include "header.html.twig" %}
    {% endblock %}
    {% block main %}
    {% endblock %}
    {% block footer %}
        {% include "footer.html.twig" %}
    {% endblock %}
    </body>
</html>
