<!-- Footer -->
<footer class="mt-auto">
    <div class="container">
        <p>&copy; 2025 <a href="https://service.kwadro.com.ua/en/">Service.Kwadro.com.ua</a> - {{ 'Your fast and free online PDF editor.'|trans }}</p>
{#        <p>#}
{#            <a href="/privacy-policy">Privacy Policy</a> |#}
{#            <a href="/terms-of-service">Terms of Service</a> |#}
{#            <a href="/contact">Contact Us</a>#}
{#        </p>#}
        <p>
            {{ 'Optimized for'|trans }}: <em>{{'merge PDF files online, compress PDFs, edit PDF without software, secure PDF processing'|trans }}</em>
        </p>
    </div>
</footer>
